<div class="container">

    <!-- Modal Nuevo Dispositivo -->
    <p-dialog header="{{titleDialog}}" [(visible)]="visible" [modal]="true" [style]="{ width: '400px' }"
        [draggable]="false" [resizable]="false">
        <div class="modal">
            <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
                <div class="input-form">
                    <label for="ipDispositivo">Ip Dispositivo:</label>
                    <input id="ipDispositivo" type="text" aria-describedby="ip-help" pInputText
                        formControlName="ipDispositivo" />
                    <small id="ip-help">Ingrese la Ip del Dispositivo.</small>
                </div>
                <div class="input-form">
                    <label for="nombreDispositivo">Nombre del Dispositivo:</label>
                    <input id="nombreDispositivo" type="text" aria-describedby="name-help" pInputText
                        formControlName="nombreDispositivo" />
                    <small id="name-help">Ingrese el nombre del Dispositivo.</small>
                </div>
                <div class="input-form">
                    <label for="comunidad">Comunidad:</label>
                    <input id="comunidad" type="text" aria-describedby="community-help" pInputText
                        formControlName="comunidad" />
                    <small id="community-help">Ingrese la comunidad SNMP.</small>
                </div>
                <button type="submit" pButton label="Guardar" [disabled]="!formulario.valid"></button>
            </form>
        </div>
    </p-dialog>

    <!-- VISTA  -->
    <div class="btns-container">
        <p-button label="Nuevo Dispositivo" icon="pi pi-plus" (click)="showDialog('Nuevo Dispositivo')"></p-button>
        <p-button label="Gestionar Alertas" icon="pi pi-plus" (click)="goToTechnicians()"></p-button>
    </div>
    <div class="devices">
        <div class="btns-layout">
            <div class="btns">
                <p-selectButton [options]="stateOptions" [(ngModel)]="value" (onChange)="changeLayout()" optionLabel="icon" optionValue="value">
                    <ng-template let-item pTemplate>
                        <i [class]="item.icon"></i>
                    </ng-template>
                </p-selectButton>
            </div>              
        </div>

        <!-- Vista de dispositivos en Lista-->
        <div *ngIf="layout == 'list'" class="layout-list">
            <div *ngFor="let d of devices" class="row" [ngClass]="{'alert-row': isAlertRow(d)}">
                <div class="img-container">
                    <img src="../assets/imagenes/ups.jpg"/>
                </div>
                <div class="info-container">
                    <h2>{{d.nombreDispositivo}}</h2>
                    <b>{{d.ipDispositivo}}</b>
                    <p>{{d.comunidad ? d.comunidad : 'N/A'}}</p>
                </div>
                <div *ngIf="isAlertRow(d)" class="alert">
                    <p-messages [(value)]="alert" [enableService]="false"></p-messages>
                </div>
                <div class="actions-container">
                   <div class="actions">
                    <p-button icon="pi pi-file-edit" [rounded]="true" severity="info" pTooltip="Editar el dispositivo" tooltipPosition="bottom" (click)="showUpdateDialog(d.ipDispositivo,d.nombreDispositivo,d.comunidad)"></p-button>
                    <p-button icon="pi pi-eject" [rounded]="true" severity="warn" pTooltip="Gestion SNMP" tooltipPosition="bottom" (click)="snmpManagment(d.idDispositivo)"></p-button>
                    <p-button icon="pi pi-trash" [rounded]="true" severity="warn" pTooltip="Eliminar el Dispositivo" tooltipPosition="bottom" (click)="deleteDevice(d.idDispositivo)"></p-button>
                   </div>
                </div>
            </div>
        </div>

        <!-- Vista de dispositivos en Grilla-->
        <div *ngIf="layout == 'grid'" class="layout-grid">
            <div *ngFor="let d of devices" class="grid">
                <div class="comunidad-grid">
                    <p>{{d.comunidad}}</p>
                </div>
                <div class="title-grid">
                    <div class="img-grid">
                        <img src="../assets/imagenes/ups.jpg"/>
                    </div>                    
                    <h2>{{d.nombreDispositivo}}</h2>
                    <b>{{d.ipDispositivo}}</b>
                </div>
                <div class="actions-grid">
                    <p-button icon="pi pi-file-edit" [rounded]="true" severity="info" pTooltip="Editar el dispositivo" tooltipPosition="bottom" (click)="showUpdateDialog(d.ipDispositivo,d.nombreDispositivo,d.comunidad)"></p-button>
                    <p-button icon="pi pi-eject" [rounded]="true" severity="warn" pTooltip="Gestion SNMP" tooltipPosition="bottom" (click)="snmpManagment(d.idDispositivo)"></p-button>
                    <p-button icon="pi pi-trash" [rounded]="true" severity="warn" pTooltip="Eliminar el Dispositivo" tooltipPosition="bottom" (click)="deleteDevice(d.idDispositivo)"></p-button>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>