<div class="container">
    <p-toast></p-toast>
    <p-confirmPopup></p-confirmPopup>
    <div class="table-container">
        <div class="header-nav">
            <p-button icon="pi pi-arrow-left" [rounded]="true" severity="secondary" (click)="back()"></p-button>
            <p-button icon="pi pi-trash" [rounded]="true" severity="danger" (click)="clearLogs($event)"></p-button>
        </div>

        <div class="card">
            <p-table 
            [paginator]="true"
            [rows]="5"
            [showCurrentPageReport]="true"
            currentPageReportTemplate="{first} de {last}"
            [rowsPerPageOptions]="[10, 25, 50]"
            [value]="logs" [tableStyle]="{'min-width': '30rem'}">
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th>Id Log</th>
                        <th>Inicio</th>
                        <th>Apagado</th>
                        <th>Cant. de Hs</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-log let-columns="columns">
                    <tr>
                        <td>{{log.idLog}}</td>
                        <td>{{log.inicio | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
                        <td>{{log.fin | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
                        <td><p-tag [value]="log.diferenciaEnHoras"
                                [severity]="getSeverity(log.diferenciaEnHoras)"></p-tag></td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
    <div class="kpis-container">
        <div class="kpi">
            <h2> Ultimo Encendido</h2>
            <div class="horas">
                <p-chart type="bar" [data]="dataChart" [options]="optionsChart"></p-chart>
            </div>
        </div>
        <div class="kpi">
            <h2> Total En El Mes </h2>
            <div class="horas">
                <h5 *ngIf="getTotalTiempoUso(logs) < 60"> {{ getTotalTiempoUso(logs) | number: '1.2-2'}} minutos</h5>
                    <h5 *ngIf="getTotalTiempoUso(logs) > 60"> {{ getTotalTiempoUso(logs) / 60 | number: '1.2-2'}} Hora/s</h5>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>