<div class="container">
    <div class="container-buttons">
       <div class="container-homebanking">
            <div class="titulo">
                <h3>Area Administrativa</h3>
            </div>           
            <div class="btns-container">
                <div class="btn">
                    <a>
                        <i class="icon" id="link-icon"></i>
                    </a>
                </div>
                <div class="btn">
                    <a>
                        <i class="icon" id="link-icon"></i>
                    </a>
                </div>
            </div>
       </div>
       
       <div class="container-tec">
        <div class="titulo">
            <h3>Area Tecnica</h3>
        </div>   
            <div class="btns-container">
                <div class="btn">
                    <a>
                        <i class="icon" id="link-icon"></i>
                    </a>
                </div>
                <div class="btn">
                    <a>
                        <i class="icon" id="link-icon"></i>
                    </a>
                </div>
            </div>
       </div>
    </div>
    
</div>
<app-footer></app-footer>