<div class="container">
    <div class="container-functions">
        <div class="container-left">
            <div class="inpt-file">
                <div class="div-file">
                    <p-toast></p-toast>
                    <p-fileUpload name="demo[]"
                        (onUpload)="onUpload($event)" url="https://www.primefaces.org/cdn/api/upload.php" [multiple]="true" accept=".xls,.xlsx" [maxFileSize]="1000000">
                        <ng-template pTemplate="content">
                            <ul *ngIf="uploadedFiles.length">
                                <li *ngFor="let file of uploadedFiles">{{ file.name }} - {{ file.size }} bytes</li>
                            </ul>
                        </ng-template>
                    </p-fileUpload>
                </div>
            </div>
        </div>
        <div class="container-right">
            <div class="card">
                <p-table p-datatable-sm [value]="banelcoCels" #dt 
                [paginator]="true"
                [columns]="cols"
                styleClass="p-datatable-striped"                 
                [tableStyle]="{ 'min-width': '50rem' }"
                [rows]="5"
                [rowsPerPageOptions]="[5]">                 
                    <ng-template pTemplate="caption">
                        <div class="header-btns">
                            <button label="Descargar Archivo!" type="button" pButton pRipple icon="pi pi-file-excel"  class="p-button mr-2" pTooltip="XLS" tooltipPosition="bottom" (click)="donwloadTxt()"></button>
                            <p-button icon="pi pi-trash" [rounded]="true" [text]="true" [raised]="true" severity="warning" (click)="deleteAllCells()"></p-button>
                            
                            <div class="card-inpt">
                                <span class="p-float-label">
                                    <input style="width:100%" pInputText id="namefile" [(ngModel)]="fileName"/>
                                    <label htmlFor="namefile">Nombre del Archivo!</label>
                                </span>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Id Cliente</th>
                            <th>DNI Cliente</th>
                            <th>Importe Adeudado</th>
                            <th>Numero de Factura</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-c>
                        <tr>
                            <td>{{c.idCliente}}</td>
                            <td>{{c.dniCliente}}</td>
                            <td>{{c.importeAdeudado}}</td>
                            <td>{{c.numeroFactura}}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>