.container {
    width: 100%;
    height: 100%;
    background-color: #071426;
}

.container-functions {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.container-left {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inpt-file{
    display: flex;
    height: 50%;
    width: 98%;
    background-color: #222222;
    margin: 30px;
    align-items: center;
    justify-content: center;
}

.inpt-text{
    display: flex;
    justify-content: center;
    height: 15%;
    width: 98%;
}

.card-inpt{
    width: 100%;
}

#username{
    width: 100%;
}

.btns{
    display: flex;
    height: 15%;
    justify-content: center;
    align-items: center;
}

.container-right {
    width: 100%;
    padding: 50px;
    height: 50%;
}


@media screen and (min-width: 720px) {

    .container-functions {
        width: 100%;
        height: 80%;
        flex-direction: row;
    }
    
    .container-left {
        padding-left: 20px;
        width: 30%;
        height: 100%;
    }

    .container-right {
        width: 70%;
        height: 100%;
    }

    .card-inpt{
        width: 60%;
    }
}