<div class="container flex flex-column absolute" [class.is-mobile]="pantallaCelu.matches">
    <!-- NAV BAR -->
    <mat-toolbar color="primary" class="flex flex-row justify-content-between nav-toolbar">
        <button mat-icon-button (click)="snav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>

        <div class="logo-navbar">
            <img class="w-full h-full" src="./assets/imagenes/logo.png" alt="Logo de la empresa">
        </div>
        
        <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
            <ul fxLayout="row" fxLayoutGap="20px">
                <li>
                    <button mat-button [matMenuTriggerFor]="menu">
                        <mat-icon>person_outline</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu"> 
                        <button mat-menu-item (click)="logout()">
                            <mat-icon>exit_to_app</mat-icon>
                            Cerrar Sesion
                        </button>
                    </mat-menu>
                </li>
            </ul>
        </div>
    </mat-toolbar>

    <!-- SIDENAV-->
    <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="pantallaCelu.matches ? 56 : 0">
        <mat-sidenav #snav [mode]="pantallaCelu.matches ? 'over' : 'side'" fixedTopGap="56" [fixedInViewport]="pantallaCelu.matches">
            <mat-nav-list>
                <div class="flex flex-column align-items-center justify-content-center mb-1">
                    <div class="header flex flex-column align-items-center justify-content-center">
                        <div class="img-container">
                            <img class="img-perfil w-full h-full" *ngIf="imgPerfil" [src]="imgPerfil" alt="Mi Imagen" />
                            <img class="img-perfil w-full h-full" *ngIf="!imgPerfil" src="../assets/imagenes/sin-foto.jpg" alt="Mi Imagen" />
                        </div>
                        <h5>{{nombre}} {{apellido}}</h5>
                        <p>{{email}}</p>
                    </div>
                </div>
                <mat-divider></mat-divider>
                <div *ngIf="pantallaCelu.matches" class="flex flex flex-column">
                    <button class="btn flex justify-content-start w-full" mat-button [routerLink]="nav.ruta" *ngFor="let nav of menuNavMobile">
                        <mat-icon class="icono"> {{nav.icono}}</mat-icon>
                        {{nav.name}}
                    </button>
                    <button class="btn flex justify-content-start w-full" mat-button color="warn" (click)="logout()">
                        <mat-icon class="icono" color="warn"> exit_to_app</mat-icon>
                        Cerrar Sesion
                    </button>
                </div>
                <div *ngIf="!pantallaCelu.matches" class="botones">
                    <button class="btn flex justify-content-start w-full" mat-button [routerLink]="nav.ruta" *ngFor="let nav of menuNavPc">
                        <mat-icon class="icono"> {{nav.icono}}</mat-icon>
                        {{nav.name}}
                    </button>
                    <button class="btn flex justify-content-start w-full" mat-button color="warn" (click)="logout()">
                        <mat-icon class="icono" color="warn"> exit_to_app</mat-icon>
                        Cerrar Sesion
                    </button>
                </div>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>