/* VENTANA MODAL */

h3{
    color: #86EFAC;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

input{
    width: 100%;
}

.input-form{
    margin-bottom: 15px;
}

/* ------------------------------------------------------------------------------------------ */

.container{
    padding-top: 60px;
    max-height: 720px;
    overflow-y: auto;
}

.btn-add-container{
    width: 70%;
    height: 10%;
}

.container-hosts{
    padding: 10px;
    height: 90%;
    flex-wrap: wrap;
    overflow-y: auto;
}

.noHost{
    width: 300px;
    height: 200px;
}

.host {
    color: #fff; /* Texto en blanco para resaltar sobre el fondo oscuro */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra de texto suave */
    margin: 0 0 30px 20px;
    border-radius: 10px;
    border: 1px solid rgba(39, 38, 38, 0.591); /* Borde suave */
    box-shadow: 0 0 20px 0 rgba(56, 56, 56, 0.5); /* Sombra exterior */
    background-image: linear-gradient(to bottom, #18181a, #191b1e); /* Gradiente de fondo oscuro a más oscuro */
    width: 400px;
    height: 200px;
}

.host.alert-host {
    order: -1;
    animation: titilante 2.5s infinite; /* Animación para resaltar */
}

@keyframes titilante {
    0%, 7% {
        transform: rotateZ(0);
        border-top: 3px solid red;
      }
      15% {
        transform: rotateZ(-15deg);
        border-right:  2px solid red;
      }
      20% {
        transform: rotateZ(10deg);
        border-left:  3px solid red;
      }
      25% {
        transform: rotateZ(-10deg);
      }
      30% {
        transform: rotateZ(6deg);
        border-left: 3px solid rgb(108, 2, 2);
      }
      35% {
        transform: rotateZ(-4deg);
        border-top:  3px solid rgb(86, 3, 3);
      }
      40%, 100% {
        transform: rotateZ(0);
      }
}


@media screen and (min-width: 720px) {

    .btns-add-container{
       margin-top: 30px;
    }

    .card{
        margin: 0px 20px 0px 0px;
        width: 400px;
        height: 200px;
    }
}
