<div class="container">
    <div class="btns-container">
        <p-button label="Secondary" [rounded]="true" severity="secondary"></p-button>
        <p-button label="Success" [rounded]="true" severity="success"></p-button>
    </div>
    <div class="canvas">
        <div class="graficos">
            <p-chart type="line" [data]="data" [options]="options"></p-chart>
            <div class="btns-chart">
                <p-button label="Secondary" [rounded]="true" severity="secondary"></p-button>
                <p-button label="Success" [rounded]="true" severity="success"></p-button>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>