@use '@angular/material' as mat;

@include mat.core();

$primary-palette: (
    50 : #e1e2e3,
    100 : #b4b6ba,
    200 : #82868c,
    300 : #4f565e,
    400 : #2a313c,
    500 : #040d19,
    600 : #030b16,
    700 : #030912,
    800 : #02070e,
    900 : #010308,
    A100 : #4e4eff,
    A200 : #1b1bff,
    A400 : #0000e7,
    A700 : #0000ce,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #ffffff,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$accent-palette: (
    50 : #e6ffee,
    100 : #c2fed5,
    200 : #99feb9,
    300 : #70fe9d,
    400 : #51fd88,
    500 : #32fd73,
    600 : #2dfd6b,
    700 : #26fc60,
    800 : #1ffc56,
    900 : #13fc43,
    A100 : #ffffff,
    A200 : #f6fff8,
    A400 : #c3ffce,
    A700 : #aaffb9,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$warn-palette: (
    50 : #fae5e5,
    100 : #f3bdbd,
    200 : #eb9191,
    300 : #e36565,
    400 : #dd4444,
    500 : #d72323,
    600 : #d31f1f,
    700 : #cd1a1a,
    800 : #c71515,
    900 : #be0c0c,
    A100 : #ffeaea,
    A200 : #ffb7b7,
    A400 : #ff8484,
    A700 : #ff6a6a,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$my-primary: mat.define-palette($primary-palette);
$my-accent: mat.define-palette($accent-palette);
$my-warn: mat.define-palette($warn-palette);

$custom-font: mat.define-typography-config(
    $font-family: 'fuentePersonalizada',
  );

$my-theme: mat.define-light-theme((    
color:(
    primary: $my-primary,
    accent: $my-accent,
    warn: $my-warn,
    ),
typography: $custom-font,
));

mat-sidenav-content, mat-sidenav-container, mat-toolbar-container {
    background-color: var(--surface-ground); // Color de fondo personalizado
  }

@include mat.all-component-themes($my-theme);