<section class="section-footer">
    <div class="footer">
        <div class="abstracto uno"></div>
        <div class="abstracto dos"></div>
        <div class="copy">
            <div class="empresa">
                <div class="container-info">
                    <h2>UltraFibra</h2>
                    <p>Casa Central: Calle Bs. AS. 433</p>
                    <p>Oliveros - Santa Fe</p>
                    <p>contacto@ultra.net.ar</p>
                    <p>0810-112-7700</p>
                </div>
            </div>
            <div class="redes">
                <div class="container-redes">
                    <p-button icon="pi pi-instagram" [rounded]="true" severity="warning"
                        [outlined]="true"></p-button>
                    <p-button icon="pi pi-facebook" [rounded]="true" severity="warning"
                        [outlined]="true"></p-button>
                    <p-button icon="pi pi-youtube" [rounded]="true" severity="warning" [outlined]="true"></p-button>
                </div>
            </div>
            <div class="logo-footer">
                <img class="imagen-footer" src="./assets/imagenes/logo.png" alt="Logo de la empresa">
            </div>
        </div>
    </div>
    <div class="footer-foot">
        <div>Desarrollado Por: Lorenzatti Nazareno</div>
        <p>Copyright © Megalink S.R.L.</p>
    </div>
</section>